{% extends "mvppage/base.html" %}
{% load staticfiles %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="section"></div>
  <main>
    <center>
      <img class="responsive-img" style="width: 250px;" src="{% static 'mvppage/images/logo.png' %}" alt="eKnous Technology SOlutions Logo"/>
      <div class="section"></div>

      <h5 class="black-text">Please, SignUp into your account</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="POST" action="">{% csrf_token %}
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s4'>
                <input type='text' name='username' autofocus required id='id_username' maxlength="150"/>
                <label for='id_username'>User Name</label>
              </div>
           
                <div class='input-field col s4'>
                  <input type='email' name='email' autofocus required id='id_email' maxlength="254"/>
                  <label for='id_email'>Email</label>
                </div>

                <div class='input-field col s4'>
                    <input type='password' name='password' autofocus required id='id_password' />
                    <label for='id_password'>Password</label>
                  </div>

              </div>


              <div class='row'>
                <div class='input-field col s4'>
                  <input type='password' name='confirm_password' autofocus required id='id_confirm_password' />
                  <label for='id_confirm_password'>Conform Password</label>
                </div>
             
                  <!-- <div class='input-field col s4'>
                    <input type='text' name='recycler_name' autofocus required id='id_recycler_name' maxlength="150"/>
                    <label for='id_recycler_name'>Company Name</label>
                  </div> -->
  
                  <div class='input-field col s4'>
                      <input type='text' name='address1' autofocus required id='id_address1' maxlength="150"/>
                      <label for='id_address1'>Address1</label>
                    </div>

                    <div class='input-field col s4'>
                            <input type='text' name='address2' autofocus required id='id_address2' maxlength="150"/>
                            <label for='id_address2'>Address2</label>
                          </div>
  
                </div>

                <div class='row'>
                    

                    <div class="input-field col s4">
                        <p>
                            <label for="id_city">City:</label>
                            <select style="display:block" name="city" required id="id_city">
                                <option value="" selected disabled hidden></option>
                                {% for citys in city %}
                                <option value={{citys.city_id}}>{{citys.city_name}}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>

                    <div class="input-field col s4">
                        <p>
                            <label for="id_zip">Zip:</label>
                            <select style="display:block" name="zip" required id="id_zip">
                                <option value="" selected disabled hidden></option>
                                {% for zips in zip %}
                                <option value={{zips.zip_id}}>{{zips.zip}}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>

                    <div class="input-field col s4">
                            <p>
                                <label for="id_state">State:</label>
                                <select style="display:block" name="state" required id="id_state">
                                    <option value="" selected disabled hidden></option>
                                    {% for states in state %}
                                    <option value={{states.state_id}}>{{states.state_name}}</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                </div>


                    <div class='row'>
                            
                                <div class="input-field col s4">
                                        <p>
                                            <label for="id_country">Country:</label>
                                            <select style="display:block" name="country" required id="id_country">
                                                <option value="" selected disabled hidden></option>
                                                {% for countrys in country %}
                                                <option value={{countrys.country_id}}>{{countrys.country_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </p>
                                    </div>
                                
          
                          <div class='input-field col s4'>
                              <input type='number' name='phone_no' autofocus required id='id_phone_no' />
                              <label for='id_phone_no'>Phone No.</label>
                            </div>
          
                        </div>

            

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large btn-custom waves-effect' value="Login">SignUp</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <a href="{% url 'user_login' %}">Login</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>

{% endblock %}





















<!-- <html>
    <head>
        <title>Sycco Registration Form</title>
    </head>
    <body>

        <h1>Sycco SignUp Form</h1>
        <p><a href = #>Back</a> / <a href = {% url 'user_login' %}>Login</a></p>
        <form method="post" action="#">{% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
       
        </form>
    </body>
</html> -->