{% extends "hotel_management/base.html" %}
{% load staticfiles %}
{% block title %} Sycco Dashboard Create {% endblock %}
{% block content %}


    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    

   


    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
          
          <!-- START CONTENT -->
          <section id="content">
            <!--start container-->
            <div class="container">
              <!--card stats start-->
              
              


              {% for message in messages %} {{message}} {% endfor %}
    

              <!-- <h1 align="center" style="color:red">Hotel Dashboard Create </h1> -->
              <a href="{% url 'sycco_dashboard' %}">Sycco Dashboard</a>/
              <a href="{% url 'sycco_dashboardcreate' %}">Create</a>
              
          
                      <div id="basic-form" class="section">
                          <div class="row">
                            <div class="col s12 m12 l6">
                              <div class="card-panel">
                                <!-- <h4 class="header2">Basic Form</h4> -->
                                <div class="row">
                                  <form class="col s12" method="POST" action="">{% csrf_token %}



                                      <!-- <div class="row">
                                          <div class="input-field col s12">
                                              <input id="id_Select_Group_0" name="Select_Group" value="hotel" type="radio" />   
                                                  <label for="id_Select_Group_0">Hotel</label>
                                              
                                          </div>
                  
                                          <div class="input-field col s12">
                                                  <input id="id_Select_Group_1" name="Select_Group" value="recycler" type="radio" />   
                                                      <label for="id_Select_Group_1">Recycler</label>
                                                  </div>
                                              </div> -->

                                              <!-- <div class="row">
                                                  <div class="input-field col s12">
                                                     <p>
                                                        <label for="id_group">Group:</label>
                                                        <select style="display:block" name="category" required id="id_group">
                                                           <option value="" selected disabled hidden></option>
                                                           {% for categorys in category %}
                                                           <option value={{categorys.group_id}}>{{categorys.category_name}}</option>
                                                           {% endfor %}
                                                        </select>
                                                     </p>
                                                  </div>
                                               </div> -->


                                               <div class="row">
                                                  <div class="input-field col s12">
                                                      <p>
                                                          <label for="id_group">Group:</label>
                                                          <select style="display:block" type="text" name="group" required id="id_group">
                                                              <option value="" selected disabled hidden></option>
                                                              <option name=> Hotel</option>
                                                              <option name=>Recycler</option>
                                                          </select>
                                                      </p>
                                                  </div>
                                              </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <p>
                                                <label for="id_company">Company:</label>
                                                <select style="display:block" type="text" name="company" required id="id_company">
                                                    <option value="" selected disabled hidden></option>
                                                    {% for userpros in userpro %}
                                                    <option name={{userpros.id_company}}>{{userpros.company}}</option>
                                                    {% endfor %}
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                      
                                    <div class="row">
                                      <div class="input-field col s12">
                                        <input id="id_weight" type="number" name="weight" required>
                                        <label for="id_weight">Weight</label>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="input-field col s12">
                                        <input id="id_green_point" name="green_point" type="number" required>
                                        <label for="id_green_point">Green Point</label>
                                      </div>
                                    </div>
                                    <div class="row">
                                          <div class="input-field col s12">
                                            <input id="id_amount" name="amount" type="number" required>
                                            <label for="id_amount">Amount</label>
                                          </div>
                                        </div>
                                          
                                      <div class="row">
                                        <div class="input-field col s12">
                                          <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                                            <i class="material-icons right">send</i>
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
        
            </div>
            <!--end container-->
          </section>
          <!-- END CONTENT -->
          
        </div>
        <!-- END WRAPPER -->
      
      </div>
    <!-- END MAIN -->
   
    <!-- START FOOTER -->
    
    <!-- END FOOTER -->
    
    



{% endblock %}





















<!-- <html>
    <head>
        <title>Sycco Dashboard Create</title>
    </head>
    <body>
        <h1>Sycoo Dashboard Create</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="input-field col s6">
                <p>
                    <label for="id_company">Company:</label>
                    <select style="display:block" name="company" required id="id_company">
                        <option value="" selected disabled hidden></option>
                       {% for i in userpro %}
                        <option >{{ i.company }}</option>
                       {% endfor %}
                    </select>
                </p>
            </div>

            {{ form.as_p }}

            <input type="submit" value="Save">
        </form>
    </body>
</html> -->





















<!-- <html>
    <head>
        <title>Sycco Dashboard Create</title>
    </head>
    <body>
        <h1>Sycoo Dashboard Create</h1>

        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </body>
</html> -->