{% extends "hotel_management/base.html" %}
{% load staticfiles %}
{% block title %} Sycco Dashboard {% endblock %}
{% block content %}


    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    

   


    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">
          
          <!-- START CONTENT -->
          <section id="content">


<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
      <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
    <div class="container">
      <div class="row">
        <div class="col s10 m6 l6">
          <h5 class="breadcrumbs-title">Sycco Dashboard</h5>
          <ol class="breadcrumbs">
            <li><a href="{% url 'sycco_dashboard' %}">Dashboard</a>
            </li>
            <li><a href="{% url 'user_logout' %}">Logout</a>
            </li>
            <li><a href="{% url 'user_passwordchange' %}">Change Password</a>
            </li>
          </ol>
        </div>
        
      </div>
    </div>
  </div>
  <!--breadcrumbs end-->




            <!--start container-->
            <div class="container">
              <!--card stats start-->
              <!--start card-box-->
            <div id="card-stats">
                <div class="row mt-1">
                  <div class="col s12 m6 l3"> 
                    <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                      <div class="padding-4">
                        <div class="col s7 m7">
                          <i class="material-icons background-round mt-5">add_shopping_cart</i>
                          <p>Total Load</p>
                        </div>
                        <div class="col s5 m5 right-align">  
                          <!-- <h5 class="mb-0">690</h5>
                          <p class="no-margin">New</p> -->
                          <p>{{ total }}</p>
                          <!-- <p>6,00,00</p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m6 l3">
                    <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                      <div class="padding-4">
                        <div class="col s7 m7">
                          <i class="material-icons background-round mt-5">perm_identity</i>
                          <p>Total Open Load</p>
                        </div>
                        <div class="col s5 m5 right-align">
                          <!-- <h5 class="mb-0">1885</h5>
                          <p class="no-margin">New</p> -->
                          <p>{{ total_open }}</p>
                          <!-- <p>1,12,900</p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m6 l3">
                    <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                      <div class="padding-4">
                        <div class="col s7 m7">
                          <i class="material-icons background-round mt-5">timeline</i>
                          <p>Acknowledge</p>
                        </div>
                        <div class="col s5 m5 right-align">
                          <!-- <h5 class="mb-0">80%</h5>
                          <p class="no-margin">Growth</p> -->
                          <p>{{ total_aknwlge }}</p>
                          <!-- <p>3,42,230</p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m6 l3">
                    <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
                      <div class="padding-4">
                        <div class="col s7 m7">
                          <i class="material-icons background-round mt-5">attach_money</i>
                          <p>Total Closed</p>
                        </div>
                        <div class="col s5 m5 right-align">
                          <!-- <h5 class="mb-0">$890</h5>
                          <p class="no-margin">Today</p> -->
                          <p>{{ total_close }}</p>
                          <!-- <p>$25,000</p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--End card-box--> 
  
              
              <div id="card-widgets">
                  <div class="row">
                      <div class="col s12 m6 l12">
                          <ul id="task-card" class="collection with-header">
                              <li class="collection-header teal accent-4">
                                <h4 class="task-card-title">Sycco Dashboard(<u>{{user.username}})</h4>
                                      <!-- <a href="{% url 'sycco_dashboardcreate' %}" class="secondary-content">
                                        <span class="ultra-small">Create</span>
                                      </a> -->
                                      <a href="{% url 'sycco_dashboardcreate' %}" class="btn-floating btn-large waves-effect waves-light red" ><i class="material-icons">add</i></a>

                                </li>
  
                                <table class="highlight">
                                    <thead>
                                      <tr>
                                          <th class="valign-wrapper">
                                            <input type="checkbox" class="filled-in checkbox-pink" id="all" />
                                            <label for="all"></label>
                                          </th>
                                          <th>User Name </th>
                        <th>Company Name</th>
                        <th>Weight</th>
                        <th>Green Point</th>
                        <th>Amount</th>
                        <th>Total Green Point</th>
                        <th>Total Amount</th>
                        <th>Update</th>
                        <th>Delete</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for query in query %}
                                      <tr>
                                        <td class="valign-wrapper">
                                          <input type="checkbox" class="filled-in checkbox-pink" id="checkbox1" />
                                          <label for="checkbox1"></label>
                                        </td>
                                        <td> <a href="{% url 'sycco_dashboarddetail' query.pk %}"> {{query.user}}</a></td>
                                        
                                        <td><a href="{% url 'sycco_dashboarddetailcmpy' query.pk %}">{{query.company_name}}</a></td>
                                       
                                        <td>{{query.weight}}</td>
                                        <td>{{query.green_point}}</td>
                                        <td>{{query.amount}}</td>
                                        <td>{{query.total_greenpoint}}</td>
                                        <td>{{query.total_amount}}</td>
                                        
                                        <td>
                                            <a href="{% url 'sycco_dashboardupdate' pk=query.pk %}" >Update</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'sycco_dashboarddelete' pk=query.pk %}" >Delete</a>
                                        </td>
                                        
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                    
                                  </table>
                                  
                                  </ul>
                        </div>
                        </div>
                </div>

            </div>
            <!--end container-->
          </section>
          <!-- END CONTENT -->
          
        </div>
        <!-- END WRAPPER -->
      
      </div>
    <!-- END MAIN -->
   
    <!-- START FOOTER -->
    
    <!-- END FOOTER -->
    
    



{% endblock %}























<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
   
</head>

<body>


    {% for message in messages %} {{message}} {% endfor %}


    <h1 align="center" style="color:red">Sycco Dashboard(<u>{{user.username}}</u>)</h1>
    <p><a href="{% url 'user_logout' %}">Logout</a> / <a href="{% url 'user_passwordchange' %}">Change Password</a></p>
    <p align="right">
        <a href="{% url 'sycco_dashboardcreate' %}">Create</a>
        <p>
    

    <table id="checkboxes">
        <tr>
            <th><input style="width:40px !important;" type="checkbox" id="checkall" /> </th>
            <th>User Name </th>
            <th>Company Name</th>
            <th>Weight</th>
            <th>Green Point</th>
            <th>Amount</th>
            <th>Total Green Point</th>
            <th>Total Amount</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        
        {% for query in query %}
        <tr>
            <th><input class="chkbx" type="checkbox"  /></th>
            <td> <a href="{% url 'sycco_dashboarddetail' query.pk %}"> {{query.user}}</a></td>
            <td>{{query.company_name}}</td>
            <td>{{query.weight}}</td>
            <td>{{query.green_point}}</td>
            <td>{{query.amount}}</td>
            <td>{{query.total_greenpoint}}</td>
            <td>{{query.total_amount}}</td>
            
            <td>
                <a href="{% url 'sycco_dashboardupdate' pk=query.pk %}" >Update</a>
            </td>
            <td>
                <a href="{% url 'sycco_dashboarddelete' pk=query.pk %}" >Delete</a>
            </td>
        </tr>
        {% endfor %}
           

    </table>
    
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script>
            $(document).ready(function() {
              $('#checkall').click(function() {
                var checked = $(this).prop('checked');
                //$('#checkboxes').find('input:checkbox').prop('checked', checked);
                  $('#checkboxes').find('.chkbx').prop('checked', checked);
              });
            })
            </script> 
    
</body>

</html> -->