



{% extends "mvppage/base.html" %}
{% load staticfiles %}
{% block title %} Password Reset {% endblock %}

{% block content %}


{% if validlink %}
<div class="section"></div>
  <main>
    <center>
      <img class="responsive-img" style="width: 250px;" src="{% static 'mvppage/images/logo.png' %}" alt="eKnous Technology SOlutions Logo"/>
      <div class="section"></div>

      <h5 class="indigo-text"><h4>Change password</h4></h5>
      <div class="section"></div>


      
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
     



      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post" action="">{% csrf_token %}
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='new_password1' autofocus required id='id_new_password1' />
                <label for='id_new_password1'>New password</label>
              </div>
            </div>
            <div class='row'> 
                <div class='input-field col s12'>
                  <input class='validate' type='password' name='new_password2' autofocus required id='id_new_password2' />
                  <label for='id_new_password2'>New password confirmation</label>
                </div>
              </div>
              <div class='row'>
                <div class='input-field col s12' id="message"></div>
              </div>
            
            <br />
            <center>
              <div class='row'>
                <button type='submit' id="submitbtn" name='btn_login' class='col s12 btn btn-large btn-custom waves-effect' value="Login">Submit</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <a href="{% url 'mvp' %}">Create account</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>
  {% else %}



  <div class="section"></div>
    <main>
      <center>
        <img class="responsive-img" style="width: 250px;" src="{% static 'mvppage/images/logo.png' %}" alt="eKnous Technology SOlutions Logo"/>
        <div class="section"></div>
  
        <h5 class="indigo-text"><h4>Invalid Link!</h4></h5>
        <div class="section"></div>
  
        
            {% for message in messages %}{{ message }}{% endfor %}
  
        <a href="{% url 'mvp' %}">Create account</a>
      </center>
  
      <div class="section"></div>
      <div class="section"></div>
    </main>
    
   
    













 
  <!-- <p>
      The password reset link invalid.Please request a new password reset.
      
  </p> -->
  {% endif %}

  
{% endblock %}









<!-- <html>
    <head>
        <title>

        </title>
    </head>
    <body>

            
              {% if validlink %}
                <h3>Change password</h3>
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Change password</button>
                </form>
              {% else %}
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
              {% endif %}
            -->


    </body>
</html>





