{% extends "mvppage/base.html" %}
{% load staticfiles %}
{% block title %} Login {% endblock %}




{% block content %}
<div class="section"></div>

  <main>
    <center>
      <img class="responsive-img" style="width: 250px;" src="{% static 'mvppage/images/logo.png' %}" alt="eKnous Technology SOlutions Logo"/>
      <div class="section"></div>


      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
     



      <h5 class="indigo-text"><p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p></h5>
      <div class="section"></div>

      
      <a href="{% url 'mvp' %}">Create account</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>



{% endblock %}












<!-- <html>
    <head>
        <title></title>
    </head>
    <body>

            <p>
                    We've emailed you instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.
                  </p>
                  <p>
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                  </p>

    </body>
</html> -->



