{% extends "mvppage/base.html" %}
{% load staticfiles %}
{% block title %} Password Reset {% endblock %}





{% block content %}
<div class="section"></div>
  <main>
    <center>
      <img class="responsive-img" style="width: 250px;" src="{% static 'mvppage/images/logo.png' %}" alt="eKnous Technology SOlutions Logo"/>
      <div class="section"></div>

      <h5 class="indigo-text"><h4>Forgotten your password?</h4>
        <p>Enter your e-mail address to obtain a new password.</p></h5>
      <div class="section"></div>


      {% if messages %} {{ message }}
      <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                  {% endfor %}
      </ul>
      {% endif %}
      

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post" action="">{% csrf_token %}
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s8'>
                <input class='validate' type='email' name='email' autofocus required id='id_email' maxlength="254"/>
                <label for='id_email'>Email</label>
              </div>
              <div class='input-field col s4'>
                  <button type='submit' name='btn_login' class='col s12 btn btn-large btn-custom waves-effect' value="Login">Submit</button>
                </div>
            </div>

            
            <br />
            
          </form>
        </div>
      </div>
      <a href="{% url 'mvp' %}">Create account</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>



{% endblock %}





 <!-- <html>
    <head>
        <title></title>
    </head>
    <body>

      <h1>Forgotten your password?</h1>
      <p>Enter your e-mail address to obtain a new password.</p>


            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
            
            <input type="submit" value="Submit">
            </form>
    </body>
</html> -->
  





