{% extends "mvppage/base.html" %}
{% load staticfiles %}
{% block title %} Hotel Search Details {% endblock %}
{% block content %}
<main>
   <center>
      <img class="responsive-img" style="width: 250px;" src="{% static 'mvppage/images/logo.png' %}" alt="eKnous Technology SOlutions Logo"/>
      <h5 class="black-text">
         Hotel Search Detail
         <p>
         <h6><a href="{% url 'hotel_search' %}">Back</a> /
            <a href="{% url 'hotel_register' instance.pk %}">Register</a> / 
            <a href="{% url 'user_login' %}">Login</a>
         </h6>
         </p>
      </h5>
      <div class="section"></div>

{% for message in messages %}{{ message }}{% endfor %}


      <div class="container">
         <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
            <table>
               <tr>
                  <td >Hotel Name:</td>
                  <td>{{instance.hotel_name}}</td>
               </tr>
               <tr></tr>
               <td>Brand:</td>
               <td>{{instance.hotel_brand.brand_name}}</td>
               </tr>
               <tr>
                  <td>Address1:</td>
                  <td>{{instance.hotel_address1}}</td>
               </tr>
               <tr>
                  <td>Address2:</td>
                  <td>{{instance.hotel_address2}}</td>
               </tr>
               <tr>
                  <td>City:</td>
                  <td>{{instance.hotel_city}}</td>
               </tr>
               <tr>
                  <td>State:</td>
                  <td>{{instance.hotel_state}}</td>
               </tr>
               <tr>
                  <td>Zip:</td>
                  <td>{{instance.hotel_zip }}</td>
               </tr>
               <tr>
                  <td>Country:</td>
                  <td>{{instance.hotel_country}}</td>
               </tr>
               <tr>
                  <td>Phone No:</td>
                  <td>{{instance.hotel_phone_no}}</td>
               </tr>
            </table>
         </div>
      </div>
   </center>
   <div class="section"></div>
   <div class="section"></div>
</main>
{% endblock %}














<!-- <html>
    <head>
        <title>Hotel Search Details</title>
    </head>

    <body>
            <h1>Hotel Search Details</h1>
            <p><a href="#">Back</a> /
                 <a href="{% url 'hotel_register' instance.pk %}">Register</a> / 
                 <a href="#">Login</a></p><br>
            <table border="1">
                    <tr>
                        <td >Hotel Name:</td>
                        
                        <td>{{instance.hotel_name}}</td>
                        
                    </tr>
                    
                    <tr></tr>
                    <td>Brand:</td>
                    <td>{{instance.hotel_brand.brand_name}}</td>
                    </tr>
                    
                    <tr>
                        <td>Address1:</td>
                        <td>{{instance.hotel_address1}}</td>
                    </tr>
                   
                    <tr>
                        <td>Address2:</td>
                        <td>{{instance.hotel_address2}}</td>
                    </tr>
                   
                    <tr>
                        <td>City:</td>
                        <td>{{instance.hotel_city}}</td>
                    </tr>
                   
                    <tr>
                        <td>State:</td>
                        <td>{{instance.hotel_state}}</td>
                    </tr>
                    
                    <tr>
                        <td>Zip:</td>
                        <td>{{instance.hotel_zip }}</td>
                    </tr>
                    
                    <tr>
                        <td>Country:</td>
                        <td>{{instance.hotel_country}}</td>
                    </tr>
                    <tr>
                            <td>Phone No:</td>
                            <td>{{instance.hotel_phone_no}}</td>
                        </tr>
                
                </table>


        
    </body>
</html> -->








