{% extends "mvppage/base.html" %}
{% load staticfiles %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="section"></div>
  <main>
    <center>
      <img class="responsive-img" style="width: 250px;" src="{% static 'mvppage/images/logo.png' %}" alt="eKnous Technology SOlutions Logo"/>
      <div class="section"></div>

      <h5 class="black-text">Please, SignUp into your account</h5>
      <div class="section"></div>


      {% for message in messages %} {{message}} {% endfor %}




      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="POST" action="">{% csrf_token %}
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s6'>
                <input type='text' name='username' autofocus required id='id_username' maxlength="150"/>
                <label for='id_username'>User Name</label>
              </div>
           
                <div class='input-field col s6'>
                  <input type='email' name='email' autofocus required id='id_email' maxlength="254"/>
                  <label for='id_email'>Email</label>
                </div>
            </div>
            <div class="row">
                <div class='input-field col s6'>
                    <input type='password' name='password' autofocus required id='id_password' />
                    <label for='id_password'>Password</label>
                  </div>

              


              
                <div class='input-field col s6'>
                  <input type='password' name='confirm_password' autofocus required id='id_confirm_password' />
                  <label for='id_confirm_password'>Conform Password</label>
                </div>
            </div>
             <div class="row">
                  <div class='input-field col s6'>
                    <input type='text' name='phone_no' autofocus required id='id_phone_no' />
                    <label for='id_phone_no'>Phone No</label>
                  </div>
  
                  <div class='input-field col s6'>
                      <input type='text' name='company' value="{{instance.hotel_name}}" autofocus required id='id_company' maxlength="254" readonly/>
                      <label for='id_company'>Company Name</label>
                    </div>
  
                </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large btn-custom waves-effect' value="Login">SignUp</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <a href="{% url 'user_login' %}">Login</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>

{% endblock %}


























<!-- <html>
    <head>
        <title>Registration Form</title>
    </head>

    <body>

        <h1>SignUp Form</h1>
        <p><a href = {% url 'mvp' %}>Back</a> / <a href = {% url 'user_login' %}>Login</a></p>

        <form id="user_form" method="post" action="#"> {% csrf_token %}
            {{ user_form.as_p }}
            
            <p><label for="id_phone_no">Phone NO:</label> <input type="text" name="phone_no" required id="id_phone_no" value="{{instance.phone_no}}" /></p>
            <div class="input-field col s6">
                <p>
                    <label for="id_company">Company:</label>
                    <select style="display:block" name="company" required id="id_company">
                        <option value="" selected disabled hidden></option>
                       
                        <option >{{instance.hotel_name}}</option>
                        
                    </select>
                </p>
            </div>

            <input type="submit" name="submit" value="Register" />
        </form>
    </body>
</html> -->